body {
  margin:0px;
  background-color:rgba(245, 245, 245, 1);
  background-image:none;
  position:relative;
  left:-27px;
  width:1140px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:673px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u5971 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:28px;
  width:1140px;
  height:673px;
  display:flex;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u5971 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u5971_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5972 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:742px;
  height:411px;
}
#u5973 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:159px;
  width:742px;
  height:411px;
  display:flex;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u5973 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u5973_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u5974 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:195px;
  width:240px;
  height:23px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u5974 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5974_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5975_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5975 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:253px;
  width:60px;
  height:14px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5975 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5975_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5976_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5976 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:253px;
  width:180px;
  height:14px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5976 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5976_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5977_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u5977 {
  border-width:0px;
  position:absolute;
  left:807px;
  top:222px;
  width:103px;
  height:21px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u5977 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5977_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5978_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5978 {
  border-width:0px;
  position:absolute;
  left:827px;
  top:253px;
  width:82px;
  height:14px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5978 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5978_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5979 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:277px;
  width:624px;
  height:175px;
}
#u5980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:35px;
}
#u5980 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:35px;
  display:flex;
  font-size:12px;
}
#u5980 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5980_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:35px;
}
#u5981 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:0px;
  width:136px;
  height:35px;
  display:flex;
  font-size:12px;
}
#u5981 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5981_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:35px;
}
#u5982 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:0px;
  width:62px;
  height:35px;
  display:flex;
  font-size:12px;
}
#u5982 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5982_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:35px;
}
#u5983 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:0px;
  width:112px;
  height:35px;
  display:flex;
  font-size:12px;
}
#u5983 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5983_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:35px;
}
#u5984 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:0px;
  width:101px;
  height:35px;
  display:flex;
  font-size:12px;
}
#u5984 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5984_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:35px;
}
#u5985 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:0px;
  width:132px;
  height:35px;
  display:flex;
  font-size:12px;
}
#u5985 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5985_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:35px;
}
#u5986 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:81px;
  height:35px;
  display:flex;
  font-size:12px;
}
#u5986 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5986_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:35px;
}
#u5987 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:35px;
  width:136px;
  height:35px;
  display:flex;
  font-size:12px;
}
#u5987 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5987_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:35px;
}
#u5988 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:35px;
  width:62px;
  height:35px;
  display:flex;
  font-size:12px;
}
#u5988 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5988_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:35px;
}
#u5989 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:35px;
  width:112px;
  height:35px;
  display:flex;
  font-size:12px;
}
#u5989 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5989_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:35px;
}
#u5990 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:35px;
  width:101px;
  height:35px;
  display:flex;
  font-size:12px;
}
#u5990 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5990_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:35px;
}
#u5991 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:35px;
  width:132px;
  height:35px;
  display:flex;
  font-size:12px;
}
#u5991 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5991_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:35px;
}
#u5992 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:81px;
  height:35px;
  display:flex;
  font-size:12px;
}
#u5992 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5992_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:35px;
}
#u5993 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:70px;
  width:136px;
  height:35px;
  display:flex;
  font-size:12px;
}
#u5993 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5993_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:35px;
}
#u5994 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:70px;
  width:62px;
  height:35px;
  display:flex;
  font-size:12px;
}
#u5994 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5994_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:35px;
}
#u5995 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:70px;
  width:112px;
  height:35px;
  display:flex;
  font-size:12px;
}
#u5995 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5995_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:35px;
}
#u5996 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:70px;
  width:101px;
  height:35px;
  display:flex;
  font-size:12px;
}
#u5996 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5996_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:35px;
}
#u5997 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:70px;
  width:132px;
  height:35px;
  display:flex;
  font-size:12px;
}
#u5997 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5997_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:35px;
}
#u5998 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:105px;
  width:81px;
  height:35px;
  display:flex;
  font-size:12px;
}
#u5998 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5998_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:35px;
}
#u5999 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:105px;
  width:136px;
  height:35px;
  display:flex;
  font-size:12px;
}
#u5999 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5999_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:35px;
}
#u6000 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:105px;
  width:62px;
  height:35px;
  display:flex;
  font-size:12px;
}
#u6000 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6000_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:35px;
}
#u6001 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:105px;
  width:112px;
  height:35px;
  display:flex;
  font-size:12px;
}
#u6001 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6001_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:35px;
}
#u6002 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:105px;
  width:101px;
  height:35px;
  display:flex;
  font-size:12px;
}
#u6002 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6002_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:35px;
}
#u6003 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:105px;
  width:132px;
  height:35px;
  display:flex;
  font-size:12px;
}
#u6003 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6003_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:35px;
}
#u6004 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:140px;
  width:81px;
  height:35px;
  display:flex;
  font-size:12px;
}
#u6004 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6004_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:35px;
}
#u6005 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:140px;
  width:136px;
  height:35px;
  display:flex;
  font-size:12px;
}
#u6005 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6005_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:35px;
}
#u6006 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:140px;
  width:62px;
  height:35px;
  display:flex;
  font-size:12px;
}
#u6006 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6006_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:35px;
}
#u6007 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:140px;
  width:112px;
  height:35px;
  display:flex;
  font-size:12px;
}
#u6007 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6007_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:35px;
}
#u6008 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:140px;
  width:101px;
  height:35px;
  display:flex;
  font-size:12px;
}
#u6008 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6008_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:35px;
}
#u6009 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:140px;
  width:132px;
  height:35px;
  display:flex;
  font-size:12px;
}
#u6009 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6009_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6010 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:451px;
  width:624px;
  height:35px;
}
#u6011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:35px;
}
#u6011 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:35px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u6011 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u6011_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:35px;
}
#u6012 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:0px;
  width:132px;
  height:35px;
  display:flex;
  font-size:12px;
}
#u6012 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6012_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6013 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:485px;
  width:624px;
  height:35px;
}
#u6014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:624px;
  height:35px;
}
#u6014 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:624px;
  height:35px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u6014 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u6014_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6015_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6015 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:530px;
  width:108px;
  height:14px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6015 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6015_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6016_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6016 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:530px;
  width:48px;
  height:14px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6016 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6016_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6017_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6017 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:530px;
  width:96px;
  height:14px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6017 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6017_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6018_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 121, 254, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0079FE;
  line-height:22px;
}
#u6018 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:62px;
  width:91px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#0079FE;
  line-height:22px;
}
#u6018 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6018_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6019_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 121, 254, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0079FE;
  line-height:22px;
}
#u6019 {
  border-width:0px;
  position:absolute;
  left:933px;
  top:62px;
  width:91px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#0079FE;
  line-height:22px;
}
#u6019 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6019_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
