body {
  margin:0px;
  background-color:rgba(245, 245, 245, 1);
  background-image:none;
  position:relative;
  left:-29px;
  width:1140px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:272px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1129 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:26px;
  width:1140px;
  height:272px;
  display:flex;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1129 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1129_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1E1E1E;
  text-align:left;
  line-height:18px;
}
#u1130 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:26px;
  width:1100px;
  height:60px;
  display:flex;
  font-size:16px;
  color:#1E1E1E;
  text-align:left;
  line-height:18px;
}
#u1130 .text {
  position:absolute;
  align-self:center;
  padding:15px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1130_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:40px;
}
#u1131 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:46px;
  width:106px;
  height:40px;
  display:flex;
}
#u1131 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1131_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1132 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:46px;
  width:106px;
  height:40px;
  display:flex;
}
#u1132 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1132_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:40px;
}
#u1133 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:46px;
  width:106px;
  height:40px;
  display:flex;
}
#u1133 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1133_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1134 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#363636;
  line-height:20px;
}
#u1135 {
  border-width:0px;
  position:absolute;
  left:1049px;
  top:246px;
  width:66px;
  height:20px;
  display:flex;
  font-size:12px;
  color:#363636;
  line-height:20px;
}
#u1135 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#434343;
}
#u1136 {
  border-width:0px;
  position:absolute;
  left:1085px;
  top:240px;
  width:32px;
  height:32px;
  display:flex;
  font-size:12px;
  color:#434343;
}
#u1136 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 1px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1136_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#363636;
  line-height:20px;
}
#u1137 {
  border-width:0px;
  position:absolute;
  left:1125px;
  top:246px;
  width:26px;
  height:20px;
  display:flex;
  font-size:12px;
  color:#363636;
  line-height:20px;
}
#u1137 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1137_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#363636;
  line-height:20px;
}
#u1138 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:246px;
  width:53px;
  height:20px;
  display:flex;
  font-size:12px;
  color:#363636;
  line-height:20px;
}
#u1138 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1138_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1139 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u1140 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:240px;
  width:97px;
  height:32px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u1140 .text {
  position:absolute;
  align-self:center;
  padding:2px 3px 4px 12px;
  box-sizing:border-box;
  width:100%;
}
#u1140_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:6px;
}
#u1141 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:252px;
  width:11px;
  height:6px;
  display:flex;
  font-size:12px;
}
#u1141 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1141_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1142 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:240px;
  width:384px;
  height:32px;
}
#u1143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
}
#u1143 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
  display:flex;
  font-size:12px;
}
#u1143 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1143_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1144 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:0px;
  width:32px;
  height:32px;
  display:flex;
  font-size:12px;
  color:#434343;
}
#u1144 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1145 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:0px;
  width:32px;
  height:32px;
  display:flex;
  font-size:12px;
  color:#434343;
}
#u1145 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1145_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1146 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:0px;
  width:32px;
  height:32px;
  display:flex;
  font-size:12px;
  color:#434343;
}
#u1146 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1146_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1147 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:0px;
  width:32px;
  height:32px;
  display:flex;
  font-size:12px;
  color:#FFFFFF;
}
#u1147 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1147_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1148 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:0px;
  width:32px;
  height:32px;
  display:flex;
  font-size:12px;
  color:#434343;
}
#u1148 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1148_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1149 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:0px;
  width:32px;
  height:32px;
  display:flex;
  font-size:12px;
  color:#434343;
}
#u1149 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1149_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1150 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:0px;
  width:32px;
  height:32px;
  display:flex;
  font-size:12px;
  color:#434343;
}
#u1150 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1150_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
}
#u1151 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:0px;
  width:80px;
  height:32px;
  display:flex;
  font-size:12px;
  color:#434343;
}
#u1151 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1151_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1152 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:109px;
  width:1100px;
  height:115px;
}
#u1153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:35px;
}
#u1153 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:35px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u1153 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u1153_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:35px;
}
#u1154 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:0px;
  width:258px;
  height:35px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u1154 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u1154_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:35px;
}
#u1155 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:0px;
  width:440px;
  height:35px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u1155 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u1155_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:35px;
}
#u1156 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:0px;
  width:168px;
  height:35px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u1156 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u1156_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:35px;
}
#u1157 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:0px;
  width:59px;
  height:35px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u1157 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u1157_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:40px;
}
#u1158 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:174px;
  height:40px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u1158 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u1158_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:40px;
}
#u1159 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:35px;
  width:258px;
  height:40px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u1159 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u1159_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:40px;
}
#u1160 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:35px;
  width:440px;
  height:40px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u1160 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u1160_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:40px;
}
#u1161 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:35px;
  width:168px;
  height:40px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u1161 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u1161_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:40px;
}
#u1162 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:35px;
  width:59px;
  height:40px;
  display:flex;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u1162 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u1162_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:40px;
}
#u1163 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:75px;
  width:174px;
  height:40px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u1163 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u1163_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:40px;
}
#u1164 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:75px;
  width:258px;
  height:40px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u1164 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u1164_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:40px;
}
#u1165 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:75px;
  width:440px;
  height:40px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u1165 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u1165_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:40px;
}
#u1166 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:75px;
  width:168px;
  height:40px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u1166 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u1166_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:40px;
}
#u1167 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:75px;
  width:59px;
  height:40px;
  display:flex;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u1167 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u1167_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:2px;
}
#u1168 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:182px;
  width:1100px;
  height:1px;
  display:flex;
}
#u1168 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1168_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:2px;
}
#u1169 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:223px;
  width:1100px;
  height:1px;
  display:flex;
}
#u1169 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1169_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
